{% extends "base.html" %}
{% block content %}

    <header>
        <h1 class="resume_title" >
            <b>ISHANA GHOSH'S ACTIVITIES</b>
        </h1>

    </header>


    <br><br>
    <div class="acitivities">
        <div class="exp">
            <h2 class="skill_title">
                ACITIVITY: TITLE
            </h2>
            <h3 class="exp_title">
                From to To data is available
            </h3>
            <hr>

            <h5 class="org_date">
                Details:
            </h5>
            <ul>
                <li>Setups and monitors various Lab tests.</li>
                <li>Helps with Laboratory Maintenance</li>

            </ul>

        </div>



</div>

{% endblock content %}