{% extends "base.html" %}
{% block content %}

    <br>
    <div class="about row">

        <div class="col-lg-6 col-md-12 col-sm-12 image">
            <img src="../static/image/compimage.jpg" alt="Ishana's Profile Pic" width="550">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 about_image">
            <h2><b>About Me</b></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident nostrum quis a iure voluptatem
                fuga nihil ipsam, omnis quod, animi tempore aliquam. Perspiciatis alias aspernatur nisi assumenda
                aliquid dolorem odio voluptatibus, ipsam maxime quis dolor hic excepturi similique culpa est unde,
                quas neque. Voluptas hic veritatis similique sunt soluta quam voluptatibus provident corrupti
                adipisci inventore culpa voluptates harum cumque id rerum excepturi ipsum, sit corporis ipsa eius
                quibusdam minus unde repudiandae.<br> Eligendi doloribus voluptatibus a exercitationem expedita.
                Corporis iste non odio explicabo illum repellat deserunt.</p>
        </div>
    </div>
        <div class="row testimonial_card">
            <div class="card testimonials col-lg-4 col-md-12 col-sm-12" style="width: 18rem;">
                <img src="..\static\image\edu.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center"><b>Testimonials</b></h6>
                    <center><a href="testimonials" class="btn btn-primary">View More</a></center>
                </div>
            </div>
            <div class="card testimonials col-lg-4 col-md-12 col-sm-12" style="width: 18rem;">
                <img src="..\static\image\edu.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title  text-center"><b>Future Goals</b></h6>
                    <center><a href="goals" class="btn btn-primary">View More</a></center>
                </div>
            </div>
            <div class="card testimonials col-lg-4 col-md-12 col-sm-12" style="width: 18rem;">
                <img src="..\static\image\edu.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title  text-center"><b>Extra Curriculars</b></h6>
                    <center> <a href="activities" class="btn btn-primary">View More</a></center>
                </div>
            </div>
        </div>    

{% endblock content %}